.card-menu {
  width: 300px;
  /* border: 1px solid red; */
  background-color: rgb(255, 255, 255);
  padding: 25px;
  border-radius: 15px;
  box-shadow: 3px 7px 14px 0px rgba(0, 0, 0, 0.5);

  .str-level {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    border-radius: 80px;
    background-color: white;
    width: 60px;
    height: 25px;
    margin: 15px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);


    p {
      font-size: 16px;
      font-weight: 500;
    }

    .str-i {
      color: #ffb400;
      font-size: 17px;
    }

  }

  .img-menu {
    width: 300px;
    height: 300px;
    margin: auto;
    position: relative;
    border-radius: 20px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
  }

  .img-menu::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
  }


  .name-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid rgb(255, 115, 0); */

    .name-menu {

      p {
        font-size: 20px;
        font-weight: 600;
        color: #000000;
      }
    }

    .buy-menu {
      p {
        font-size: 20px;
        font-weight: 600;
        color: #000000;
      }
    }
  }

  .para-menu {
    /* border: 1px solid orange; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;

    .p-menu {
      .pp {
        font-size: 16px;
        font-weight: 400;
        }
      }
    }

    .cart-i {
      margin-left: auto;
      font-size: 25px;
      color: rgb(255, 255, 255);
      background-color: orange;
      padding: 10px;
      border-radius: 50%;
      cursor: pointer;
      transition: all 0.3s ease;

      &:hover {
        background-color: rgb(255, 115, 0);
      }
    }
  }
