body {
   max-width: 1200px;
   padding: 30px 50px;
   margin: 20px 40px;
   background-color: rgb(255, 244, 179);
   font-family: Rubik, sans-serif;
   position: relative;

nav {
   
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   /* border: 1px solid red; */
   

   .nav-links,
   span,
   a {
      font-size: 20px;
      margin: 0 7px;
      color: black;
      text-decoration: none;
   }

   .active,
   .nav-links-btn:hover {
      color: orange;
   }
}

.logo-cof {
   width: 10%;
   height: 10%;
   border-radius: 30px;
}

.nav-right {
   display: flex;
   justify-content: flex-end;
   align-items: center;
   gap: 20px;
   font-size: 20px;
   font-weight: 600;

   .search-box {
      border: none;
      padding: 10px;
      width: 350px;
      border-radius: 30px;
      outline: none;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
   }

   .search-box::placeholder {
      font-weight: 350;
      padding-left: 45px;
   }

   .icon-search {
      position: relative;
      left: 40px;
      top: 2px;
   }

   .icon-basket {
      margin-left: 10px;
      font-size: 30px;
   }
}

.banner-container {
   width: 100%;
   height: auto;
   display: flex;
   justify-content: space-between;
   align-items: center;
   /* border: 1px solid orange; */
   margin-top: 50px;
  


   .banner {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 50px;
      padding: 20px;

      .banner-text {
         width: 100%;
         margin-top: -80px;


         h1 {
            font-size: 50px;
            line-height: 1.2;
            font-weight: 700;

            span {
               color: orange;
            }
         }

         h4 {
            font-size: 20px;
            font-weight: 400;
            margin: 20px 0;
         }
      }

      .banner-img {
         width: 100%;
         height: auto;
         border-radius: 10000px;
         /* border: 1px solid orange; */
         overflow: hidden;

        

         .bn-img img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 10000px;
         }
      }
   }

   .banner-btn {

      button {
         border: none;
         padding: 15px 30px;
         border-radius: 60px;
         margin-top: 10px;
      }

      .bn-btn1 {
         background-color: rgb(37, 30, 15);
         color: white;
         font-size: 16px;
         font-weight: 400;
         cursor: pointer;
      }

      .bn-btn2 {
         background-color: transparent;
         color: orange;
         font-size: 16px;
         font-weight: 400;
         cursor: pointer;
      }
   }
}
}

.wihte-bg {
   background-color: white;

}