---
import PopularCards from "../componentes/PopularCards.astro";
import Delivery from "../componentes/Delivery.astro";
import SpecialMenu from "../componentes/SpecialMenu.astro";
import "../styles/style.css";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
		<!-- cdn -->
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
		/>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
		/>

		<!-- css -->
		<link rel="stylesheet" href="src/styles/style.css" />

		<!-- fonts -->
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"
			rel="stylesheet"
		/>

		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>COFCOF</title>
	</head>
	<body>
		<header>
			<nav>
				<img class="logo-cof" src="public/img/cofcof-logo.png" alt="" />
				<div id="myNav" class="nav-links">
					<span><a class="nav-links-btn active" href="#">About Us</a></span>
					<span><a class="nav-links-btn" href="#">Our Product</a></span>
					<span><a class="nav-links-btn" href="#">Delivery</a></span>
				</div>
				<div class="nav-right">
					<form action="">
						<div>
							<i class="fa fa-magnifying-glass icon-search"></i>
							<input
								class="search-box"
								type="search"
								name="search"
								id=""
								placeholder="Search"
							/>
						</div>
					</form>
					<i class="fa-solid fa-basket-shopping icon-basket"></i>
				</div>
			</nav>
			<div class="banner-container">
				<div class="banner">
					<div class="banner-text">
						<h1>
							Enjoy your <span>coffee</span> with here <span>COFCOF!</span>
						</h1>
						<h4>
							Boot your producttivity and build your mood with a cup of coffee
							in the Cofcof Cafe
						</h4>
						<div class="banner-btn">
							<button class="bn-btn1">
								Order Now <i class="fa-solid fa-arrow-right-long"></i>
							</button>
							<button class="bn-btn2">Menu More</button>
						</div>
					</div>
					<div class="banner-img">
						<div class="bn-img">
							<img src="public/img/coffee-2.jpg" alt="banner-coffee" />
						</div>
					</div>
				</div>
			</div>

			<main class="wihte-bg">
				<div class="ppl-b">
					<div class="popular">
						<p>Popular <span>Now</span></p>
					</div>
					<div class="popular-card">
						<PopularCards
							stars="4.9"
							img="public/img/vanilla-latte.jpg"
							name="Vanilla Latte"
							buys="1.7 K"
						/>
						<PopularCards
							stars="3.9"
							img="public/img/espresso.jpg"
							name="Espresso"
							buys="2.3 K"
						/>
						<PopularCards
							stars="4.3"
							img="public/img/hazelunt-latte.jpg"
							name="Hozzelnut Latte"
							buys="12 K"
						/>
					</div>
				</div>

				<script src="../scripts/Script.js"></script>
			</main>
		</header>
		<section>
			<main class="delivery">
				<div class="del-text">
					<p>How to use delivery <span>service</span></p>
				</div>
				<div class="del-b">
					<Delivery
						icon="public/img/cof1.png"
						titel="Choose your coffee"
						paragraph="there are 20+ coffee for you"
					/>
					<Delivery
						icon="public/img/cof3.png"
						titel="We delivery it to your"
						paragraph="Chhoose your delivery service"
					/>
					<Delivery
						icon="public/img/cof2.png"
						titel="Enjoy your coffee"
						paragraph="Have a nice day with your coffee"
					/>
				</div>
			</main>

			<div class="about-us">
				<img src="public/img/coffee-1.jpg" alt="coffee-about-us" />
				<div class="about-us-title">
					<h3>About <span>us</span></h3>
					<h4>We provide quality coffee, and ready to deliver.</h4>
					<p>
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
						voluptas, quod, quia, voluptatibus quibusdam quos quidem voluptatem
						quasi voluptate quibusdam quos quidem voluptatem quasi voluptate.
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
						voluptas, quod, quia, voluptatibus quibusdam quos quidem voluptatem
						quasi voluptate quibusdam quos quidem voluptatem quasi voluptate.
					</p>
						<button>Get your coffee</button>
				</div>
			</div>
			<main class="special-menu">
				<div class="special-text">
					<p>Special <span>Menu</span></p>
				</div>
				<div class="special-b">
					<SpecialMenu
						title="Sandwich"
						buy="$4.99"
						description="Grilled sandwich with cheese, lettuce, and tomato."
						str="4.3"
						imgMenu="public/img/sandwich-2.jpg"
					/>
					<SpecialMenu
						title="Hot Milk"
						buy="$5.99"
						description="Steamed milk with a touch of vanilla syrup."
						str="4.9"
						imgMenu="public/img/hot-milk.jpg"
					/>
					<SpecialMenu
						title="Coffee Ice Cream"
						buy="$3.99"
						description="Rich and creamy coffee-flavored ice cream."
						str="3.9"
						imgMenu="public/img/coffee-ice-cream.jpg"
					/>
					<SpecialMenu
						title="Cappuccino"
						buy="$4.49"
						description="Espresso, hot milk, and steamed-milk foam."
						str="4.5"
						imgMenu="public/img/cappucino.jpg"
					/>
					<SpecialMenu
						title="Moccacinno"
						buy="$5.49"
						description="Espresso with steamed milk and chocolate syrup."
						str="4.7"
						imgMenu="public/img/moccacinno-2.jpg"
					/>
					<SpecialMenu
						title="Waffle Ice Cream"
						buy="$4.29"
						description="Crispy waffle topped with coffee ice cream."
						str="4.2"
						imgMenu="public/img/waffle-ice-cream.jpg"
					/>
				</div>
		</section>
		<footer>
			<div class="footer-container">
				<p>Subscribe to get 50% discount price</p>
				<div class="footer-input">
					<input
						class="input-email"
						type="email"
						name="email"
						id=""
						placeholder="Enter your email"
					/>
					<button class="btn-subscribe">Subscribe</button>
			</div>
		</footer>
		<div class="cpr">Coppyright 2025 JiuJiu</div>
	</body>
</html>
